<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 cover-image wh-100 vh-100">
      <div class="d-flex justify-content-center" style="margin-top: 15%">
        <h1 class="packageName">{{ package?.name | uppercase }}</h1>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12" style="background-color: #f7f7f7">
      <h2 class="mt-5 text-center">QUICK FACTS</h2>
      <div class="row" style="font-size: large">
        <div class="col-3 list-margin">
          <ul style="list-style: none">
            <li>Next date</li>
            <li>Difficulty</li>
            <li>Participants</li>
            <li>Rating</li>
          </ul>
        </div>
        <div class="col-3">
          <ul style="list-style: none; color: #a0bcc2">
            <li>{{ package.packageDate }}</li>
            <li>{{ package.difficulty }}</li>
            <li>{{ package.maxGroupSize }}</li>
            <li>{{ package.ratingsAverage }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 p-5">
      <h2 class="mt-2">About the {{ package?.name }} TOUR</h2>

      <p style="color: #a0bcc2">
        A gift of the Himalayas to the world, Manali is a beautiful township
        nestled in the picturesque Beas River valley. It is a rustic enclave
        known for its cool climate and snow-capped mountains, offering respite
        to tourists escaping scorching heat of the plains.
      </p>
    </div>
  </div>
  <!-- reviews -->
  <div
    class="row d-flex justify-content-center rounded py-2"
    style="background-color: aqua"
  >
    <div
      class="col-lg-3 col-sm-6 m-2 p-5 border border-dark rounded"
      style="background-color: #fff"
    >
      <div class="row">
        <div class="col-3 mb-2 me-2">
          <img
            class="review-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFvhu-7P13Qs77QQsYlmiKj0EcYLzPyJBsKZDpzzxUZwkcMHzF3pOVnovRuyObS1xchLo&usqp=CAU"
            alt=""
          />
        </div>
        <div class="col-4 my-3">
          <h4>Tony</h4>
        </div>

        <div class="col-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos
          laboriosam corrupti excepturi eveniet eaque! Nobis quia ipsa, quasi
        </div>
        <div class="col-12 text-center pt-3">
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
        </div>
      </div>
    </div>

    <div
      class="col-lg-3 col-sm-6 m-2 p-5 border border-dark rounded"
      style="background-color: #fff"
    >
      <div class="row">
        <div class="col-3 mb-2 me-2">
          <img
            class="review-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFvhu-7P13Qs77QQsYlmiKj0EcYLzPyJBsKZDpzzxUZwkcMHzF3pOVnovRuyObS1xchLo&usqp=CAU"
            alt=""
          />
        </div>
        <div class="col-4 my-3">
          <h4>Tony</h4>
        </div>

        <div class="col-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos
          laboriosam corrupti excepturi eveniet eaque! Nobis quia ipsa, quasi
        </div>
        <div class="col-12 text-center pt-3">
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
        </div>
      </div>
    </div>

    <div
      class="col-lg-3 col-sm-6 m-2 p-5 border border-dark rounded"
      style="background-color: #fff"
    >
      <div class="row">
        <div class="col-3 mb-2 me-2">
          <img
            class="review-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFvhu-7P13Qs77QQsYlmiKj0EcYLzPyJBsKZDpzzxUZwkcMHzF3pOVnovRuyObS1xchLo&usqp=CAU"
            alt=""
          />
        </div>
        <div class="col-4 my-3">
          <h4>Tony</h4>
        </div>

        <div class="col-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos
          laboriosam corrupti excepturi eveniet eaque! Nobis quia ipsa, quasi
        </div>
        <div class="col-12 text-center pt-3">
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
        </div>
      </div>
    </div>

    <div
      class="col-lg-3 col-sm-6 m-2 p-5 border border-dark rounded"
      style="background-color: #fff"
    >
      <div class="row">
        <div class="col-3 mb-2 me-2">
          <img
            class="review-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFvhu-7P13Qs77QQsYlmiKj0EcYLzPyJBsKZDpzzxUZwkcMHzF3pOVnovRuyObS1xchLo&usqp=CAU"
            alt=""
          />
        </div>
        <div class="col-4 my-3">
          <h4>Tony</h4>
        </div>

        <div class="col-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos
          laboriosam corrupti excepturi eveniet eaque! Nobis quia ipsa, quasi
        </div>
        <div class="col-12 text-center pt-3">
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- reviews -->
  <div
    class="row d-flex justify-content-center border rounded-pill-lg rounded-sm m-5 py-3 shadow"
  >
    <div class="col-lg-6 p-5">
      <h3>What are you waiting for?</h3>
      <p>
        Always remember you don’t choose where you go, the Journey chooses your destiny
      </p>
    </div>
    <div *ngIf="loggedIn; else loggedOut" class="col-lg-3 p-5">
      <button class="btn btn-primary rounded-pill" (click)="bookTour()">
        Book tour now
      </button>
    </div>

    <ng-template #loggedOut>
      <div class="col-lg-3 p-5">
        <button class="btn btn-primary rounded-pill" (click)="bookTour()">
          Log in to book tour
        </button>
      </div>
    </ng-template>
  </div>
</div>

<app-footer></app-footer>
