<div class="container-fluid">
  <div class="row">
    <div class="col-12 cover-image wh-100 vh-100">
      <div class="d-flex justify-content-center mt-5">
        <h1>{{ tittle }}</h1>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12" style="background-color: #f7f7f7">
      <h6 class="mt-5 text-center">QUICK FACTS</h6>
      <div class="row">
        <div class="col-3 list-margin">
          <ul style="list-style: none">
            <li>Next date</li>
            <li>Difficulty</li>
            <li>Participants</li>
            <li>Rating</li>
          </ul>
        </div>
        <div class="col-3">
          <ul style="list-style: none">
            <li>April 2021</li>
            <li>April 2021</li>
            <li>April 2021</li>
            <li>April 2021</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 p-5">
      <h6 class="mt-5">About the {{ tittle }} TOUR</h6>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione fuga
        vero quia, voluptatem fugit quibusdam aliquam doloribus porro, debitis
        hic pariatur accusantium optio sit atque reiciendis blanditiis cumque.
        Nam, ad! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Praesentium, esse inventore? Exercitationem nemo voluptates inventore,
        dolores voluptatum vel iste sint asperiores nam culpa, libero assumenda
        magni impedit quibusdam, optio voluptatem.
      </p>
    </div>
  </div>
  <div
    class="row d-flex justify-content-center rounded py-2"
    style="background-color: aqua"
  >
    <div
      class="col-lg-3 col-sm-6 m-2 p-5 border border-dark rounded"
      style="background-color: #fff"
    >
      <div class="row">
        <div class="col-3 mb-2 me-2">
          <img
            class="review-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFvhu-7P13Qs77QQsYlmiKj0EcYLzPyJBsKZDpzzxUZwkcMHzF3pOVnovRuyObS1xchLo&usqp=CAU"
            alt=""
          />
        </div>
        <div class="col-4 my-3">
          <h4>Tony</h4>
        </div>

        <div class="col-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos
          laboriosam corrupti excepturi eveniet eaque! Nobis quia ipsa, quasi
        </div>
        <div class="col-12 text-center pt-3">
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
        </div>
      </div>
    </div>

    <div
      class="col-lg-3 col-sm-6 m-2 p-5 border border-dark rounded"
      style="background-color: #fff"
    >
      <div class="row">
        <div class="col-3 mb-2 me-2">
          <img
            class="review-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFvhu-7P13Qs77QQsYlmiKj0EcYLzPyJBsKZDpzzxUZwkcMHzF3pOVnovRuyObS1xchLo&usqp=CAU"
            alt=""
          />
        </div>
        <div class="col-4 my-3">
          <h4>Tony</h4>
        </div>

        <div class="col-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos
          laboriosam corrupti excepturi eveniet eaque! Nobis quia ipsa, quasi
        </div>
        <div class="col-12 text-center pt-3">
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
        </div>
      </div>
    </div>

    <div
      class="col-lg-3 col-sm-6 m-2 p-5 border border-dark rounded"
      style="background-color: #fff"
    >
      <div class="row">
        <div class="col-3 mb-2 me-2">
          <img
            class="review-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFvhu-7P13Qs77QQsYlmiKj0EcYLzPyJBsKZDpzzxUZwkcMHzF3pOVnovRuyObS1xchLo&usqp=CAU"
            alt=""
          />
        </div>
        <div class="col-4 my-3">
          <h4>Tony</h4>
        </div>

        <div class="col-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos
          laboriosam corrupti excepturi eveniet eaque! Nobis quia ipsa, quasi
        </div>
        <div class="col-12 text-center pt-3">
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
        </div>
      </div>
    </div>

    <div
      class="col-lg-3 col-sm-6 m-2 p-5 border border-dark rounded"
      style="background-color: #fff"
    >
      <div class="row">
        <div class="col-3 mb-2 me-2">
          <img
            class="review-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFvhu-7P13Qs77QQsYlmiKj0EcYLzPyJBsKZDpzzxUZwkcMHzF3pOVnovRuyObS1xchLo&usqp=CAU"
            alt=""
          />
        </div>
        <div class="col-4 my-3">
          <h4>Tony</h4>
        </div>

        <div class="col-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos
          laboriosam corrupti excepturi eveniet eaque! Nobis quia ipsa, quasi
        </div>
        <div class="col-12 text-center pt-3">
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
          <i class="bi bi-star-fill m-2"></i>
        </div>
      </div>
    </div>
  </div>

  <div
    class="row d-flex justify-content-center border rounded-pill-lg rounded-sm m-5 py-3 shadow"
  >
    <div class="col-lg-6 p-5">
      <h3>What are you waiting for?</h3>
      <p>
        Nostrum eos quis deleniti, quo veniam, quae officiis sapiente adipisci,
        officia neque facilis! Odit voluptatum alias molestiae.
      </p>
    </div>
    <div class="col-lg-3 p-5">
      <button class="btn btn-primary rounded-pill">Log in to book tour</button>
    </div>
  </div>
</div>
