.list-margin {
  margin-left: 40%;
}
.cover-image {
  background-image: url("https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.review-img {
  border-radius: 50%;

  width: 70px;

  height: 70px;
}
.packageName {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 5rem;

  color: #000000;
  font-weight: 400;
  display: flex;
}
