<form
#loginForm="ngForm"
(ngSubmit)="onSubmit(loginForm)"
>
  <div class="row d-flex justify-content-center pt-5">
    <div class="col-lg-4 col-sm-9 p-5 border" style="border-radius: 25px">
      <h3 class="py-4">Log Into Your Account</h3>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form1Example1">Email address</label>
        <input type="email"ngModel
        name="email"
        class="form-control"
        required /> 
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form1Example2">Password</label>
        <input type="password"
        ngModel
        name="password"
        class="form-control"
        required />
        <span
        *ngIf="!passed"
        style="color: red"
        >Wrong Email id or password!</span
      >
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block"
      [disabled]="!loginForm.valid"
      >Log in</button>

      <div class="form-check p-0 mt-4">
        <label class="form-check-label" for="form2Example3">
          Not have a account
          <a routerLink="/sign-in">Sign Up</a>
          now
        </label>
      </div>
    </div>
  </div>
</form>
<app-footer></app-footer>