<app-header></app-header>
<div *ngIf="bookingAvailable; else noBookings">
<div class="row mx-2 my-5 d-flex justify-content-center "
 *ngFor="let booking of bookingList">
  <div class="col-lg-4 col-sm-12 col-xs-12 ps-5">
    <div class="row">
      <div class="col-12">
        <h4>{{ booking.package?.name }}</h4>
    <h1>₹{{ booking.package?.price }}</h1>
    <p>{{booking.package?.description}}</p>
      </div>
    
    <div class="col-12 ">
      <img class="img-fluid" [src]="booking.package?.imageCover" alt="" />
    </div>
  </div>
</div>
  <div class="col-lg-4 col-sm-12 col-xs-12">
    <h1 class="text-center mb-3">Booking Details</h1>
      <div class="form-outline">
        <h4 class="d-inline">Booking Id :</h4>
       <span >
         {{booking?._id}}
       </span>
       <hr>
       <h4 class="d-inline">Booking Name :</h4>
       <span>
         {{booking?.bookingName}}
       </span><hr>
       <h4 class="d-inline">Email address : </h4>
       <span>
         {{booking.user?.email}}
       </span><hr>
       <h4 class="d-inline">Booking time :</h4>
       <span>
         {{booking.package?.packageDate}}
       </span><hr>
      </div>
  
  </div>
  <hr class=" mt-3">
</div>
</div>
<ng-template #noBookings>
<div   style="
min-height: 100vh;

">
  <h1 class="d-flex justify-content-center pt-5">No Bookings Bookings Available</h1>
</div>
</ng-template>
<app-footer></app-footer>

