<div class="content p-5 ms-3 me-3">
  <div class="row d-flex justify-content-center mb-5 mt-5">
    <div class="col-8">
      <h1>Let's Explore India with us !</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        temporibus nulla at, quas architecto delectus, blanditiis sequi enim
        saepe facere praesentium tenetur quo fugit illum nisi, impedit voluptate
        veritatis. Incidunt?
      </p>
    </div>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-lg-3 col-sm-6 p-3">
      <div>
        <a routerLink="/package-detail">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
            class="img-fluid"
          />
        </a>
      </div>
      <div class="text-center">
        <a
          routerLink="/package-detail"
          style="text-decoration: none; color: black"
        >
          <h2>{{ cities_name }}</h2>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 p-3">
      <div>
        <a href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
            class="img-fluid"
          />
        </a>
      </div>
      <div class="text-center">
        <a href="#" style="text-decoration: none; color: black">
          <h2>{{ cities_name }}</h2>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 p-3">
      <div>
        <a href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
            class="img-fluid"
          />
        </a>
      </div>
      <div class="text-center">
        <a href="#" style="text-decoration: none; color: black">
          <h2>{{ cities_name }}</h2>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 p-3">
      <div>
        <a href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
            class="img-fluid"
          />
        </a>
      </div>
      <div class="text-center">
        <a href="#" style="text-decoration: none; color: black">
          <h2>{{ cities_name }}</h2>
        </a>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6 p-3">
      <div>
        <a href="#">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
            class="img-fluid"
          />
        </a>
      </div>
      <div class="text-center">
        <a href="#" style="text-decoration: none; color: black">
          <h2>{{ cities_name }}</h2>
        </a>
      </div>
    </div>
  </div>
</div>
